* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #202124;
    color: white;
    /* font-family: sans-serif; */
    /* padding: 14px; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 14px;
    font-family: "Poppins", sans-serif;
    font-size: 1em;
    font-weight: 300;
    font-style: normal;
}



header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px;
}

header section img {
    max-width: 40px;
    border-radius: 50%;
    border: 2px solid cyan;
}

nav,section {
    display: flex;
    align-items: center;
    gap: 14px;
}

.whiteLink{
    color: white;
}

.greyLink{
    color: lightgrey;
}

a{
    text-decoration: unset;
    font-size: 0.8em;
}

a:hover{
    text-decoration: underline;
}

main{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 0 14px;
}

.headerText{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 5em;
    color: white;
}

.searchBar {
    display: flex;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    gap: 14px;
    border: 1px solid grey;
    padding: 12px;
    border-radius: 24px;
}

.searchBar:hover {
    border-color: transparent;
    background: #303134;

}

.iconButtonContainer{
    display: flex;
    align-items: center;
    gap: 14px;
}

.iconButton{
    background: transparent;
    border: none;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    padding: 0%;
}

input{
    background: transparent;
    outline: none;
    border: unset;
    color: white;
    flex: 1;
}

.searchButtonsContainer {
    display: flex;
    align-items: center;
    gap: 14px;
}

.searchButtonsContainer button {
    padding: 10px 14px;
    border-radius: 4px;
    background: #303134;
    color: white;
    border: 1px solid transparent;
    cursor: pointer;
}

.searchButtonsContainer button:hover {
    border: 1px solid darkgray;
}

.languageSelection {
    font-size: 0.9em;
}

.languageSelection span {
    color: #8ab4f8;
    cursor: pointer;
}

footer {
    display: flex;
    flex-direction: column;
    background: #171717;
}

footer > section{
    padding: 12px;
}

footer > section:last-child {
    display: flex;
    flex-direction: column;
    border-top: solid rgb(64, 64, 64);
    border-width: 1px;
    align-items: center;
    justify-content: space-around;
}

.location {
    padding: 0 2%;
}

.footerLink {
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 0 2%;
}

.footerLink a {
    cursor: pointer;
}

@media (min-width: 540px){
    footer > section:last-child {
        flex-direction: row;
        justify-content: space-between;
    }
}